<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again_ag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,993},{387,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,147}}</string>
                <key>sourceSize</key>
                <string>{387,147}</string>
            </dict>
            <key>again_bgbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,2},{840,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,900}}</string>
                <key>sourceSize</key>
                <string>{840,900}</string>
            </dict>
            <key>again_btn_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,844},{387,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,147}}</string>
                <key>sourceSize</key>
                <string>{387,147}</string>
            </dict>
            <key>again_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1695},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>again_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{750,810}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,810}}</string>
                <key>sourceSize</key>
                <string>{750,810}</string>
            </dict>
            <key>character_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1731},{245,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,505}}</string>
                <key>sourceSize</key>
                <string>{245,505}</string>
            </dict>
            <key>character_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,844},{243,479}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{243,479}}</string>
                <key>sourceSize</key>
                <string>{245,505}</string>
            </dict>
            <key>character_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1224},{243,479}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{243,479}}</string>
                <key>sourceSize</key>
                <string>{245,505}</string>
            </dict>
            <key>character_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1224},{245,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,505}}</string>
                <key>sourceSize</key>
                <string>{245,505}</string>
            </dict>
            <key>game_arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1334},{239,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,122}}</string>
                <key>sourceSize</key>
                <string>{239,126}</string>
            </dict>
            <key>game_arrow_left_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1334},{239,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,118}}</string>
                <key>sourceSize</key>
                <string>{239,120}</string>
            </dict>
            <key>game_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1089},{239,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,122}}</string>
                <key>sourceSize</key>
                <string>{239,126}</string>
            </dict>
            <key>game_arrow_right_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1575},{239,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,118}}</string>
                <key>sourceSize</key>
                <string>{239,120}</string>
            </dict>
            <key>game_control.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1125,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1125,390}}</string>
                <key>sourceSize</key>
                <string>{1125,390}</string>
            </dict>
            <key>game_obstacle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1089},{243,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{243,195}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>start_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{828,1089}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{828,1089}}</string>
                <key>sourceSize</key>
                <string>{828,1089}</string>
            </dict>
            <key>textBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1731},{252,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,72}}</string>
                <key>sourceSize</key>
                <string>{252,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74703fd0c18dfb7a33b9da0c93e12d1c$</string>
            <key>textureFileName</key>
            <string>game1.png</string>
        </dict>
    </dict>
</plist>
