<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{1125,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1125,390}}</string>
                <key>sourceSize</key>
                <string>{1125,390}</string>
            </dict>
            <key>7_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,250},{239,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,122}}</string>
                <key>sourceSize</key>
                <string>{239,126}</string>
            </dict>
            <key>7_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,614},{239,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,118}}</string>
                <key>sourceSize</key>
                <string>{239,120}</string>
            </dict>
            <key>7_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,250},{239,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,122}}</string>
                <key>sourceSize</key>
                <string>{239,126}</string>
            </dict>
            <key>7_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,614},{239,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,118}}</string>
                <key>sourceSize</key>
                <string>{239,120}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,2},{1125,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1125,390}}</string>
                <key>sourceSize</key>
                <string>{1125,390}</string>
            </dict>
            <key>8_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,126},{239,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,122}}</string>
                <key>sourceSize</key>
                <string>{239,126}</string>
            </dict>
            <key>8_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,494},{239,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,118}}</string>
                <key>sourceSize</key>
                <string>{239,120}</string>
            </dict>
            <key>8_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,126},{239,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,122}}</string>
                <key>sourceSize</key>
                <string>{239,126}</string>
            </dict>
            <key>8_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,494},{239,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,118}}</string>
                <key>sourceSize</key>
                <string>{239,120}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1125,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1125,390}}</string>
                <key>sourceSize</key>
                <string>{1125,390}</string>
            </dict>
            <key>9_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2},{239,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,122}}</string>
                <key>sourceSize</key>
                <string>{239,126}</string>
            </dict>
            <key>9_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,374},{239,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,118}}</string>
                <key>sourceSize</key>
                <string>{239,120}</string>
            </dict>
            <key>9_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,2},{239,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,122}}</string>
                <key>sourceSize</key>
                <string>{239,126}</string>
            </dict>
            <key>9_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,374},{239,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,118}}</string>
                <key>sourceSize</key>
                <string>{239,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>compass2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d81e7aa094abbd649c135fdc6360bbd$</string>
            <key>textureFileName</key>
            <string>compass2.png</string>
        </dict>
    </dict>
</plist>
