<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>al.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,662},{210,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,324}}</string>
                <key>sourceSize</key>
                <string>{210,324}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,1440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,1440}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1444},{507,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,159}}</string>
                <key>sourceSize</key>
                <string>{507,159}</string>
            </dict>
            <key>character_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1444},{245,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,505}}</string>
                <key>sourceSize</key>
                <string>{245,505}</string>
            </dict>
            <key>character_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1444},{243,479}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{243,479}}</string>
                <key>sourceSize</key>
                <string>{245,505}</string>
            </dict>
            <key>close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1942},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1790},{342,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,120}}</string>
                <key>sourceSize</key>
                <string>{342,120}</string>
            </dict>
            <key>credit_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{600,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,90}}</string>
                <key>sourceSize</key>
                <string>{600,90}</string>
            </dict>
            <key>credit_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1371},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>credit_not.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,196},{690,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,780}}</string>
                <key>sourceSize</key>
                <string>{690,780}</string>
            </dict>
            <key>credit_re.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1401},{387,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,159}}</string>
                <key>sourceSize</key>
                <string>{387,159}</string>
            </dict>
            <key>credit_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1210},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>day.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,988},{707,169}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{707,169}}</string>
                <key>sourceSize</key>
                <string>{713,173}</string>
            </dict>
            <key>end_chart_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1159},{666,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,192}}</string>
                <key>sourceSize</key>
                <string>{666,192}</string>
            </dict>
            <key>hj.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1857},{83,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,103}}</string>
                <key>sourceSize</key>
                <string>{83,103}</string>
            </dict>
            <key>hji.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1857},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>index_btn_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2},{879,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{879,192}}</string>
                <key>sourceSize</key>
                <string>{879,192}</string>
            </dict>
            <key>index_btn_credit.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,988},{411,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,150}}</string>
                <key>sourceSize</key>
                <string>{411,150}</string>
            </dict>
            <key>index_btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1049},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>index_btn_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1444},{411,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,150}}</string>
                <key>sourceSize</key>
                <string>{411,150}</string>
            </dict>
            <key>index_btn_revive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,888},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>lqjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1444},{551,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,83}}</string>
                <key>sourceSize</key>
                <string>{551,83}</string>
            </dict>
            <key>tx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>tx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>wjmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1953},{720,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,90}}</string>
                <key>sourceSize</key>
                <string>{720,90}</string>
            </dict>
            <key>wr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,336},{210,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,324}}</string>
                <key>sourceSize</key>
                <string>{210,324}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b35d0d0509a57a4baa077ef4469971b$</string>
            <key>textureFileName</key>
            <string>index.png</string>
        </dict>
    </dict>
</plist>
